@import "tailwindcss";
@import 'keen-slider/keen-slider.min.css';

@font-face {
  font-family: syntha;
  src: url('/fonts/Syntha.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@theme {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-primary: #fe933e;
	--color-secondary: #379CC8;
	--color-tertiary: #D91197;
	--color-quaternary: #ED319D;
	--color-quinary: #7B12B5;
	--color-senary: #FEEAFA;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

/* #fe933e */

/* 1: #ED319D --- #FEEAFA*/
/* 2: #7B12B5 --- ##D91197 */

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

@media (prefers-color-scheme: light) {
  :root {
    --background: #ededed;
    --foreground: #0a0a0a;
  }
} */

body {
	margin: 0;
	padding: 0;
	background-image: 
	linear-gradient(to bottom, #7B12B5, #D91197, #a14900),
	url('/images/back.png');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	background-attachment: fixed;
	background-blend-mode: color;
}